<%= render 'shared/banner' %>

<div class="container padded">
  <div class="row">
    <div class="col-xs-12 text-center">
      <h2>Our cocktails</h2>
    </div>
  </div>
  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <div class="col-xs-12">
        <div class="product">
          <div class='product-upvote'>
            <div class="product-arrow"></div>
            <div class='product-count'>12</div>
          </div>
          <% if cocktail.photo? %>
              <%= cl_image_tag cocktail.photo.path, crop: :fill %>
            <% else %>
              <%= image_tag ('summer_cocktails.jpg') %>
            <% end %>
          <div class='product-body'>
            <h3><%= cocktail.name %></h3>
          </div>
          <ul class="list-inline product-controls hidden-sm hidden-xs">
            <li><a href=""><i class="fa fa-heart"></i></a></li>
            <li><a href=""><i class="fa fa-share"></i></a></li>
            <li><a href=""><i class="fa fa-star"></i></a></li>
          </ul>
        </div>
      </div>
    <% end %>
  </div>
</div>
