
<% @banner_photo = 'background.jpg' %>
<%= render 'shared/banner' %>

<div class="container padded">
  <div class="row">
    <div class="col-xs-12 text-center">
      <h2>Our cocktails</h2>
    </div>
  </div>
  <div class="row">
    <% cocktails = @cocktails.sort { |a, b| b.rating <=> a.rating } %>
    <% cocktails.each do |c| %>
      <div class="col-xs-12">
        <%= render 'cocktail_tile', cocktail: c %>
      </div>
    <% end %>
  </div>
</div>
