<%= render 'shared/banner' %>

<div class="container padded">
  <div class="row">
    <div class="col-xs-12 text-center">
      <h2>Our cocktails</h2>
    </div>
  </div>
  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card">
          <%= link_to "", cocktail_path(cocktail.id), {class: "card-link"}%>
          <div class="card-photo">
            <%= image_tag ("summer_cocktails.jpg") %>
          </div>
          <div class="card-description">
            <h2><%= cocktail.name %></h2>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>





