.cocktail-card {
  display: flex;
  align-items: center;
  background-color: #F4F4F4;
  border-radius: 5px;
  padding: 80px 20px;
}

.cocktail-photo{
  flex: 0 0 auto;
  background-color: white;
}

.cocktail-info {
  flex: 1 1 auto;
  margin-left: 20px;
}

.wrapper {
  background-color: #F4F4F4;
  padding: 30px 0;
}

.recipe-name {
  margin: 50px 0;
  h2 {
    margin-bottom: 50px;
  }
}

.ingredient-card {
  background-color: white;
  padding: 20px;
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
}

.ingredient-name {
  flex: 0 0 auto;
}

.ingredient-delete {
  flex: 0 0 auto;
}
